<a href="https://colab.research.google.com/github/VikasAL/BootCamp/blob/master/Python/Day2/Session2/Python_Day2_Session2_Excercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#DICTIONARY

#Add rollno and marks {name:mark} for n number of students through keyboard in a dictionary and print the marks in descending order with respective name.

In [5]:
import operator
t = {}
n = int(input("Enter number of students"))
for i in range(n):
  key = input("Enter the name")
  value = input("Enter the marks")
  t[key] = value
a = sorted(t.items(), key=operator.itemgetter(1), reverse=True)
for i in a:
  print(i[0],"=",t[i[0]])

Enter number of students3
Enter the nameAjay
Enter the marks78
Enter the nameVijay
Enter the marks98
Enter the nameJay
Enter the marks69
Vijay = 98
Ajay = 78
Jay = 69

#Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in name alphabetical order with salary

In [4]:
t = {}
n = int(input("Enter number of employees"))
for i in range(n):
  key = input("Enter the name")
  value = input("Enter the salary")
  t[key] = value
a = sorted(t)
for i in a:
  print(i, "=>",t[i])

Enter number of employees3
Enter the nameAjay
Enter the salary33000
Enter the nameVijay
Enter the salary34000
Enter the nameSujay
Enter the salary39999
Ajay => 33000
Sujay => 39999
Vijay => 34000

#Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in salary ascending order and sum, max, min and average of the salaries

In [3]:
import operator
t = {}
n = int(input("Enter number of employees"))
for i in range(n):
  key = input("Enter the name")
  value = int(input("Enter the salary"))
  t[key] = value
a = sorted(t.items(), key=operator.itemgetter(1))
for i in a:
  print(i[0],"=",t[i[0]])
val = t.values()
print("sum = ",sum(val))
print("maximum value = ",max(t.values()))
print("minimum value = ",min(t.values()))
print("Average value = ",sum(val)/n)

Enter number of employees3
Enter the nameAjay
Enter the salary25000
Enter the nameVijay
Enter the salary30000
Enter the nameJayJay
Enter the salary45000
Ajay = 25000
Vijay = 30000
JayJay = 45000
sum =  100000
maximum value =  45000
minimum value =  25000
Average value =  33333.333333333336

#Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print only the employees whose salary is greater than 2000 but less than 4000

In [2]:
t = {}
n = int(input("Enter number of employees"))
for i in range(n):
  key = input("Enter the name")
  value = int(input("Enter the salary"))
  t[key] = value
for i in t:
  if int(t[i])>2000 and int(t[i])<4000:
    print(t[i])

Enter number of employees3
Enter the nameAjay
Enter the salary2500
Enter the nameVijay
Enter the salary5000
Enter the nameJay
Enter the salary1000
2500

#Python program to convert a 3 digit number into words

In [1]:
d={0:'',1:'one',2:'two',3:'three',4:'four',5:'five',6:'six',7:'seven',8:'eight',9:'nine',\
   10:'ten',11:'eleven',12:'twelve',13:'thirteen',14:'fourteen',15:'fifteen',16:'sixteen',\
   17:'seventeen',18:'eightteen',19:'nineteen',20:'twenty',30:'thirty',40:'fourty',50:'fifty',\
   60:'sixty',70:'seventy',80:'eighty',90:'ninty',100:'hundred'}

num=int(input("Enter the integer between 1 to 999:"))
if (num<=20):
      print(d[num])
if(num>20 and num<100):
        if num%10==0:       
            print(d[num])
        else:
            print(d[num//10*10]+" "+d[num%10])
if(num>99 and num<1000):
        if(num>100 and num<199):
            print(d[num//10//10*100]+" "+d[num//10%10*10]+" "+d[num%10])
        else:
            print(d[num//100]+d[100]+" "+d[num//10%10*10]+" "+d[num%10])

Enter the integer between 1 to 999:999
ninehundred ninty nine

#FILES

#Python Program to count the total number of charaters (except blank space) in a text file.

In [9]:
filename = input("Enter the filename : ")
c = 0
with open (filename,'r') as f:
  for i in f:
    for j in i:
      if j != '\n':
        c += 1
print("Total No. of Charecters are : ",c)

Enter the filename : /content/Sample File .txt.txt
Total No. of Charecters are :  175

#Python Program to print all the numbers present in a text file with its total number of occurrence.

In [11]:
filename : input("Enter the filename : ")
d = {x:0 for x in range(0,10)}
with open(filename,'r') as f:
  for i in f:
    for j in i:
      if j.isdigit():
        d[int(j)] +=1
d1 = {key:val for key,val in d.items() if val>0}
print(d1)

Enter the filename : /content/Sample File .txt.txt
{2: 1, 4: 3, 5: 3, 6: 2, 7: 1, 8: 1, 9: 1}

#Python Program to append the contents of one file to another file by getting the both file names through keyboard

In [20]:
file1 = input("Enter the 1st file name : ")
file2 = input("Enter the 2nd file name : ")
f1 = open(file1,'a')
with open(file2,'r') as f2:
  for line in f2:
    f1.write(line)

Enter the 1st file name : /content/Sample File .txt.txt
Enter the 2nd file name : /content/Sample File 2.txt

#Python Program to count the number of blank spaces in a text file.

In [33]:
filename = input("Enter file name: ")
count = 0
with open(filename, 'r') as f:
    for line in f:
        for i in line:
              if i ==" ":
                  count=count+1
print("Total blanke spaces are : ",count)

Enter file name: /content/Sample File 2.txt
Total blanke spaces are :  8

#Python Program to read a file and capitalize the first letter of every word in the file and copy the every word capitalized content into another file and read it .

In [36]:
fname = input("Enter file name: ")
fname1 = input("Enter another filename: ")
with open(fname, 'r') as f:
  with open(fname1, "w") as f1:
    for line in f:
        l=line.title()
        f1.write(l)
        print(l)

Enter file name: /content/Sample File .txt.txt
Enter another filename: /content/Sample File 2.txt
Pythonic Means Code That Doesn'T Just Get The Syntax

Right But That Follow546S The Conventions Of 56 The Python

Community And Uses The 5978 Language In T4He Way It Is Inten42Ded To Be Used.This Is The Appended Content From The Another File.This Is The Appended Content From The Another File.This Is The Appended Content From The Another File.This Is The Appended Content From The Another File.This Is The Appended Content From The Another File.This Is The Appended Content From The Another File.This Is The Appended Content From The Another File.