<a href="https://colab.research.google.com/github/VikasAL/Boot_Camp/blob/master/Python/Day1/Session2/Python_Day1_Session2_Excercise_pbms.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1 Write a program to print the triangle

In [31]:
n = int(input("Enter the number"))
for i in range(1, n+1):
  for j in range(i,i+i):
    print(j,end=" ")
  print("")

Enter the number4
1
2 3
3 4 5
4 5 6 7

In [6]:
n = int(input("Enter the row number"))
for i in range(1,n+1):
  for j in range(1,i+1):
    print("*",end=" ")
  print("")

Enter the row number4
*
* *
* * *
* * * *

In [11]:
n = int(input("Enter the number"))
for i in range(n,0,-1):
  for j in range(i,n+1):
    print(j,end=" ")
  print("")

Enter the number5
5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

In [15]:
n = int(input("Enter the number"))
for i in range(n,0,-1):
  for j in range(i,0,-1):
    print(j,end=" ")
  print("")

Enter the number5
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [17]:
n = int(input("Enter the number"))
for i in range(1,n+1):
  for j in range(i,n+1):
    print(j,end=" ")
  print("")

for i in range(n-1,0,-1):
  for j in range(i,n+1):
    print(j,end=" ")
  print("")

Enter the number4
1 2 3 4
2 3 4
3 4
4
3 4
2 3 4
1 2 3 4

#Find the length of a string without using len functions

In [22]:
str = input("Enter the string : ")
count = 0
for i in str:
  count += 1
print("Length of the given string {0} is : {1}".format(str,count))

Enter the string : string
Length of the given string string is : 6

#Find the no of words and characters in a string

In [34]:
st = input("Enter the string : ")
s = st.split()
word = 0
sn = 0
for i in s:
  word += 1
  for j in i:
    sn += 1
print("In the string '{2}' number of words : {0} and the letters : {1} ".format(word,sn,st))

Enter the string : the word
In the string 'the word' number of words : 2 and the letters : 7

#Find the no of occurrences of a word in a string

In [40]:
import numpy as np
st = input("Entre the string : ").split()
s = np.unique(st)
for i in s:
  print(i, " : ", st.count(i))

Entre the string : The sentence , The word , words of words
,  :  2
The  :  2
of  :  1
sentence  :  1
word  :  1
words  :  2